*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Libre Baskerville";
}

html {
    font-size: 10px;
}

body {
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    background-size: cover;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: #890101;
}

a:hover {
    color: red;
}

.rag {
    width: 100%;
}

.container {
    display: flex;
}

.top {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.site-logo {
    width: 25rem;
    display: block;
    margin: 0 auto;
}

.site-logo-title {
    position: absolute;
    display: block;
    margin-left: 6.5rem;
    margin-top: -17rem;
}

.nav {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.nav-link {
    width: 80%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin: 1rem;
    padding: 1rem 0;
}

.nav-link-hyper-sub {
    text-align: center;
    font-size: 1.4rem;
    font-variant: small-caps;
    margin: 0px;
}

.nav-link-hyper-main {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    font-variant: small-caps;
    margin: 0px;
}

.nav-link-hyper {
    text-decoration: none;
    color: #890101;
}

.nav-link-hyper:hover {
    color: red;
}

.header {
    width: 80%;
    padding-top: 10rem;
    display: block;
    margin: 0 auto;
    color: #2d2d2d;
}

.header-title {
    text-align: center;
    font-size: 2.8rem;
}

.header-content {
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 1rem;
}

.grid {
    width: 80%;
    margin: 0 auto;
}

.grid-title {
    display: flex;
    justify-content: space-between;
}

.grid-title-line {
    width: 50%;
    padding-top: .7rem;
}

.grid-title-text {
    font-size: 2.2rem;
    width: 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    min-width: 20rem;
    text-align: center;
    color: #2d2d2d;
}

.grid-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 2rem;
    justify-content: center;
}

.grid-content-tile {
    width: 25%;
    margin: 1rem;
}

.grid-content-tile-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #2d2d2d;
}

.grid-content-tile-subtext {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.4rem;
    font-variant: small-caps;
    text-align: center;
    color: #890101;
}

.grid-content-tile-maintext {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.8rem;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    color: #890101;
}

.footer {
    background-image: url("../img/ornament.png");
    background-repeat: no-repeat;
    background-position: top;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2rem;
}

.footer-text {
    font-size: 1rem;
}

.footer-text:nth-of-type(1) {
    padding-top: 4rem;
    font-size: 1rem;
}