/*@-ms-viewport{
  width: device-width;
}*/

/*//////////////////////////////////////Body////////////////////////////////////*/
html, body {
  margin: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

* {
  font-family: "Libre Baskerville";
}

body {
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-size: cover;
}

/*////////////////////////////////////Site Logo/////////////////////////////////*/





/*//////////////////////////////////////Nav/////////////////////////////////////*/





/*//////////////////////////////////////Header//////////////////////////////////*/





/*//////////////////////////////////////Grid///////////////////////////////////*/





/*/////////////////////////////////////Footer//////////////////////////////////*/
